<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Modifier le Chef d'Équipe</h5>
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="editChef()">

              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input
                  type="text"
                  id="nom"
                  class="form-control"
                  [(ngModel)]="chef.nom"
                  name="nom"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input
                  type="text"
                  id="prenom"
                  class="form-control"
                  [(ngModel)]="chef.prenom"
                  name="prenom"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  [(ngModel)]="chef.email"
                  name="email"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="pwd" class="form-label">Mot de passe</label>
                <input
                  type="password"
                  id="pwd"
                  class="form-control"
                  [(ngModel)]="chef.pwd"
                  name="pwd"
                />
              </div>

              <!-- Le champ role est affiché en lecture seule -->
              <div class="mb-3">
                <label for="role" class="form-label">Rôle</label>
                <input
                  type="text"
                  id="role"
                  class="form-control"
                  [(ngModel)]="chef.role"
                  name="role"
                  [readonly]="true"
                />
              </div>

              <button type="submit" class="btn btn-primary mt-2">
                Mettre à jour
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
